.select2-selection--multiple .select2-search__field {
  display: none;
}

.arrow::after {
  content: "\2197";
  text-align: center;
  padding: 0px;
  font-size: large;
}

.multi-arrow::after {
  content: "\2197 +";
  text-align: center;
  padding: 0px;
  font-size: large;
}

/*Stuff that works*/
.sticky-table-cell {
  display: table-cell;
  border: 1px solid black;
  border-collapse: collapse;
  border-width: 1px;

  text-align: left;
  empty-cells: show;
}

.row-header {
  max-width: 180px;
  height: 40px;
  max-height: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0px !important;
  border-bottom: 0px !important;
}

.row-header > div {
  overflow: hidden;
  height: 40px;
  padding: 0px !important;
}

.col-header {
  height: 180px;
  width: 40px;
  max-width: 40px;
  white-space: nowrap;
}

.col-header > div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transform: 
    /* Magic Numbers */ translate(-80px, 70px)
    /* 45 is really 360 - 45 */ rotate(270deg);
  width: 170px;
}

.normalCell {
  overflow: visible;
  max-height: 40px;
  max-width: 40px;
  text-align: center;
  padding: 0px !important;
  border-bottom: 0px !important;
}

.normalCell:hover {
  background-color: gainsboro;
}

div.rowCountCell {
  background-color: gainsboro;
  font-size: 15px;
  border-left: ridge;
  border-right: ridge;
  text-align: center;
  position: sticky;
  width: 40px;
  max-height: 40px;
  max-width: 40px;
  padding: 0px !important;
  border-bottom: 0px !important;
}

div.colCountCell {
  background-color: gainsboro;
  font-size: 15px;
  border-top: ridge;
  border-bottom: ridge;
  text-align: center;
  position: sticky;
  width: 40px;
  max-height: 40px;
  max-width: 40px;
  padding: 0px !important;
  border-bottom: 0px !important;
}

div.edgeCountCell {
  background-color: gainsboro;
  font-size: 15px;
  border-top: ridge;
  border-left: ridge;
  padding: 10px 10px;
  text-align: center;
  position: sticky;
  max-height: 40px;
  max-width: 40px;
  overflow: hidden;
  padding: 0px !important;
  border-bottom: 0px !important;
}

th.deadCell {
  border-style: none;
}
