body {
  background-color: #ffffff;
  padding: 0px;
  margin: auto;
}
h1,
h2,
p,
ul,
li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.nav-bar {
  padding-bottom: 1rem;
}

.options {
  padding: 1px;
}

.no-wrap {
  white-space: nowrap;
}

.brand {
  font-size: min(2vw, 25px);
  text-overflow: ellipsis;
}

.navbar-toggler {
  padding: 0;
  margin-right: 20px;
}

i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 20px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

#bg {
  position: fixed;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.button-row {
  margin-left: 0px;
  margin-right: 0px;
}

.form-text {
  color: white;
}

.matrix-options-row {
  margin-right: 0px !important;
}

.table-holder {
  margin: 20px;
  height: 800px;
}

.point {
  cursor: pointer;
}

.search-box {
  margin: 2px !important;
}
